<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER CR</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbdody>
            {% for one_user in all_users %}
            <tr>
                <td>{{one_user.id}}</td>
                <td>{{one_user.first_name}} {{one_user.last_name}}</td>
                <td>{{one_user.email}}</td>
                <td>{{one_user.created_at}}</td>
                <td>
                    <a href="/users/{{one_user.id}}">Show</a>
                    <a href="/users/{{one_user.id}}/edit">Edit</a>
                    <a href="">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbdody>
    </table>
    <a href="/users/new">Add a New User</a>
</body>
</html>