<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER CR</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbdody>
            {% for one_user in all_users %}
            <tr>
                <td>{{one_user.first_name}}</td>
                <td>{{one_user.last_name}}</td>
                <td>{{one_user.email}}</td>
            </tr>
            {% endfor %}
        </tbdody>
    </table>
    <a href="/users/new">Add a New User</a>
</body>
</html>