<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <h2>New Dojo</h2>
    <form action="/dojos/add"  method="POST">
        <label for="name">Name:</label>
        <input type="text" name = 'name'>
        <input type="submit" value="Create">
    </form>
    <h2>All Dojos</h2>
    <table>
        <tbdody>
            {% for one_dojo in all_dojos %}
            <tr>
                <td><a href="/dojos/{{one_dojo.id}}">{{one_dojo.name}}</a></td>
            </tr>
            {% endfor %}
        </tbdody>
    </table>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>