<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='style.css')}}">
    <style>
        .box{
            background-color: {{color}};
        }
    </style>
</head>
<body>
    
    <h3>{{times}}</h3>
    
    <p>{{color}}</p>
    {% for x in range (times) %}
        <div class="box"></div>
    {% endfor %}

</body>
</html>