<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            width: 500px;
            margin: 0 auto;
            background-color: green;
        }
        h1{
            color: yellow;
        }
        .btn{
            background-color: yellow;
        }
    </style>
</head>
<body>
    
    <h1 class="text-center">Dojo Survery</h1>
    
    <form class="text-center text-white" action='/form' method='post'>
        <label for='name' class = >Name:</label><br>
        <input type='text' name='name'><br>
        <label for='locations'>Dojo Location:</label><br>
        <select name="location" id="location">
            <option value="" selected>-select a location-</option>  
            <option value="Arlington">Arlington</option>
            <option value="Berkeley">Berkeley</option>
            <option value="Boise">Boise</option>
            <option value="Chicange">Chicago</option>
            <option value="Dallas">Dallas</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Orange County">Orange County</option>
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Tulsa</option>
        </select>
        <br><label for='languages'>Favorite Languages:</label><br>
        <select name="language" id="language">
            <option value="" selected>-select a language-</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
            <option value="Flask">Flask</option>
            <option value="SQL">SQL</option>
            <option value="Java">Java</option>
            <option value="C#">C#</option>
        </select><br>
        <!-- <label for='instructor'>Favorite Instructor(s):</label><br>  
        <input type="checkbox" id="cody" name="instructor" value="Charming Cody">  
        <label for="cody">Charming Cody</label>
        <input type="checkbox" id="jim" name="instructor" value="Juggernaut Jim">
        <label for="jim">Juggernaut Jim</label>
        <input type="checkbox" id="christian" name="instructor" value="Courageous Christian">
        <label for="christian">Courageous Christian</label>
        <input type="checkbox" id="max" name="instructor" value="Mighty Max">
        <label for="max">Mighty Max</label><br> -->
        <label for='comment'>Comment:</label><br>
        <textarea name="comment" placeholder = "Enter comments here..."></textarea><br>
        <label for = 'rating'>Rating: How was your experience?</label><br>
        <!-- <input type="radio" id="fivestar" name="rating" value="5">
        <label for="fivestar">5</label>
        <input type="radio" id="fivestar" name="rating" value="4">
        <label for="fourstar">4</label>
        <input type="radio" id="fivestar" name="rating" value="3">
        <label for="threestar">3</label>
        <input type="radio" id="fivestar" name="rating" value="2">
        <label for="twostar">2</label>
        <input type="radio" id="fivestar" name="rating" value="1">
        <label for="onetar">1</label><br> -->
        <input class = 'btn' type='submit' value='Submit'>
    </form>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
</body>
</html>