<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome {{this_user.first_name}}!!!</h1>
    <p>These are the recipes</p>
    <a href="/recipes/new">Create</a>
    <a href="/logout"> Logout</a>
    <h2></h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30 Minutes?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in this_user.recipes %}
            <tr>
                <td>{{recipe.name}} </td>
                <td>{{recipe.under_30}}</td>
                <td><a href="/recipes/{{recipe.id}}">Show</a> | <a href="/recipes/edit/{{recipe.id}}">Edit</a> | <a href="/delete/{{recipe.id}}">Delete</a></td>          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>